<h1>{{model.name}}</h1>
<div class="col-md-4">
<h2>Create category</h2>
  <div class="list-group">
    <div class="list-group-item">
      {{input type="text" class="new-band" placeholder="New category" value=newName insert-newline="createSubCategory" }}
      <button class="btn btn-primary btn-sm new-band-button" {{action "createSubCategory" model}}
        disabled={{disabledCategory}}>Add</button>
    </div>
    {{categories-list categories=model.subCategories}}
  </div>
</div>
<div class="col-md-8">
  <h2>Create Expenditure</h2>
  <div class="list-group">
    <div class="list-group-item">
      {{input type="text" class="new-band" placeholder="New expenditure" value=expName insert-newline="createExpenditure" }}
      {{input type="text" class="new-band" placeholder="Cost" value=expCost insert-newline="createExpenditure" }}
      {{bootstrap-datepicker value=expDate autoclose=true}}
      <button class="btn btn-primary btn-sm new-band-button" {{action "createExpenditure" model}}
      disabled={{disabledExpenditure}}>Add</button>
    </div>
    {{expenditures-list expenditures=model.expenditures}}
  </div>
</div>
<div class="col-md-8">
  <div class="list-group">
    {{outlet}}
  </div>
</div>
